<%= link_to " Back", :back, :class => "btn btn-primary btn-sm bi bi-box-arrow-left", :style => "margin-top: .7em; font-size: 1.3rem" %>

<div class="card shadow">
  <div class="card-header">
    <h2 class="text-dark mt-2">Edit Profile</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource, :class => "text-dark" %>

      <div class="text-dark my-3">
          <%= f.label "Avi" %><br>
          <%= f.file_field :avi, direct_upload: true %>
      </div>
      
      <div class="field text-dark my-3">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>
      
      <div class="field text-dark my-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field text-dark my-3">
        <%= f.label :password %> <i>(leave blank if you don't want to change your current password)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field text-dark my-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field text-dark my-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions my-3">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>

<div class="card mt-5 shadow">
  <div class="card-header">
    <h3 class="text-dark mt-2">Delete account</h3>
  </div>
  <div class="card-body">
    <p>Wish to delete your account? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-danger" %></p>
  </div>
</div>
