<% if comment.id != nil && comment.subject_id.nil? %>
    <li class="list-group-item row" id="comment<%= comment.id %>">
        <div class="d-flex flex-row align-items-start p-0 mt-1 position-relative">
            <%= link_to '', [comment.article, comment],
                        :class => "position-absolute top-0 end-0 btn btn-primary btn-sm btn-danger bi bi-trash",
                        :style => "font-size: 1rem; height: 28px; width: 27px; padding: 0",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>

            <img src="" class="border border-dark rounded-circle my-0 me-3" style="height: 60px; width: 60px; aspect-ratio: 2/2">
            
            <div class="col-10 flex-column">
                <div class="h-25 d-flex flex-row mb-0 p-0">
                    <div class="row me-3">
                        <p class="card-text mb-0 w-auto mw-50 d-flex"><%= comment.commenter %></p>
                        <p class="text-muted col-4 mb-0 w-auto mw-50"><%= comment.updated_at.pretty %></p>
                    </div>
                </div>

                <p class="mb-0 text-black text-opacity-75">
                    <%= comment.body %>
                </p>
                
                <p><button class="btn btn-link btn-block text-left text-decoration-none collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#reply<%= comment.id %>" aria-expanded="false" aria-controls="reply<%= comment.id %>">
                Reply</button></p>

                <div id="reply<%= comment.id %>" class="collapse" aria-labelledby="comment<%= comment.id %>" data-parent="#commentAccordion">
                    <%= render "comments/replies/form", comment: comment %>
                </div>

                <% if comment.replies.count != 0 %>
                    <button class="btn btn-link btn-block text-left text-decoration-none collapsed my-1 p-0 bi bi-caret-down-fill" type="button" data-bs-toggle="collapse" data-bs-target="#replies<%= comment.id %>" aria-expanded="false" aria-controls="replies<%= comment.id %>">
                    View <%= Comment.thread_length(comment) %> replies</button>

                    <div id="replies<%= comment.id %>" class="collapse" aria-labelledby="comment<%= comment.id %>" data-parent="#commentAccordion">
                        <% Comment.thread(comment).each do |reply| %>
                            <%= render( :partial => "comments/replies/reply", :locals => { :comment => reply } ) %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>   
    </li>
<% end %>