<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    
    <div class="d-flex flex-row align-items-start p-0 mt-1">
        <% if current_user.nil? || current_user.avi.nil? %>
            <%= image_tag "avatar-none.png", :class => "border border-dark rounded-circle me-auto", :style => "height: 60px; width: 60px; aspect-ratio: 2/2" %>
        <% else %>
            <img src="<%= url_for(current_user.avi) %>" class="border border-dark rounded-circle my-0 me-3" style="height: 60px; width: 60px; aspect-ratio: 2/2">
        <% end %>

        <p class="col-10" style="display: flex; flex-direction: column">
            <%= form.text_area :body, :placeholder => 'Add a comment...' %>
        </p>
    </div>

    <%= form.hidden_field :status, :value => 'public' %>

    <% if signed_in? %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <p class="justify-content-end" style="display: flex" >
        <%= form.submit %>
    </p>
<% end %>