<div class="card mb-3" style="display: inline-block">
    <div class="row no-gutters">
        <div class="col-md-4">
            <% if article.cover.attached? %>
                <img src="<%= url_for(article.cover) %>" class="card-img" alt="cover">
            <% else %>
                <img >
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <%= article.title.capitalize %>
                </h5>
                <p class="card-text">
                    <%= article.body[0...55].capitalize + '...' %>
                </p>
                <%= link_to 'Read more...', article %>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <%= 'last updated ' + article.updated_at.pretty %>
                </small>
            </div>
        </div>
    </div>
</div>
