<div class="card mb-3 shadow border-0 bg-light" style="display: inline-block">
    <div class="row no-gutters">
        <div class="col-md-4 p-0 align-items-center justify-content-center">
            <% if article.cover.attached? %>
                <a href="/articles/<%= article.id %>" data-bs-toggle="tooltip" data-bs-placement="top" title="View article">
                    <img src="<%= url_for(article.cover) %>" class="card-img mw-100 h-100 my-0 rounded border" style="object-fit: fill;" alt="cover">
                </a>
            <% else %>
                <p class="text-muted d-block my-0">No photo to load...</p>
            <% end %>
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-space-between">
            <div class="card-body">
                <a href="/articles/<%= article.id %>" class="fs-5 text-decoration-none fw-bold title-link">
                    <%= article.title.capitalize %>
                </a>
                <p class="card-text" style="color: #222">
                    <%= article.body[0...55].capitalize + '...' %>
                </p>
                <%= link_to 'Read more...', article, :class => "title-link text-decoration-none" %>
            </div>
            <div class="card-footer bg-light">
                <small class="text-muted">
                    <%= 'last updated ' + article.updated_at.pretty %>
                </small>
            </div>
        </div>
    </div>
</div>
