<%= form_with model: article do |form| %>
    <div>
        <%= form.label "Cover Art" %><br>
        <%= form.file_field :cover %>
    </div>
    <br>

    <div class="d-flex" style="flex-direction: column">
        <%= form.label :title %>
        <%= form.text_field :title, :class => 'w-100' %>
        <% article.errors.full_messages_for(:title).each do |message|%>
            <div class="text-warning"><%= message %></div>
        <% end %>
    </div>
    <br>

    <div class="d-flex" style="flex-direction: column">
        <%= form.label :body %><br>
        <%= form.text_area :body, :class => 'w-100' %>
        <% article.errors.full_messages_for(:body).each do |message|%>
            <div class="text-warning"><%= message %></div>
        <% end %>
    </div>
    <br>

    <div class="d-flex col-2" style="flex-direction: column">
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'],
                        selected: 'public' %>
    </div>
    <br>

    <div>
        <%= form.submit %>
    </div>
<% end %>