<div class="card mb-3 shadow border-0 bg-light" style="display: inline-block">
    <div class="row no-gutters">
         
        <div class="position-relative">
            <% if @user == current_user %>
                <%= link_to " Edit Profile", edit_registration_path(@user),
                            :class => "btn btn-primary btn-sm bi bi-pencil-square position-absolute end-0 me-2",
                            :data_bs_toggle =>"tooltip",
                            :data_bs_placement => "bottom",
                            :title => "Edit"%>
            <% else %>
                <a class="bi bi-plus btn btn-primary btn-sm" style="font-size: 1.3rem; margin-right: 5px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Follow"> Follow</a>
            <% end %>
        </div>

        <div class="col-md-4 p-0 align-items-center d-flex justify-content-center">
            <% if @user.avi.nil? %>
                <%= image_tag "avatar-none.png", :class => "border border-dark rounded-circle my-3 me-3", :style => "height: 100px; width: 100px; aspect-ratio: 2/2"%>
            <% elsif @user.avi != nil %>
                <%= image_tag "avatar-none.png", :class => "border border-dark rounded-circle my-3 me-3", :style => "height: 100px; width: 100px; aspect-ratio: 2/2"%>
            <% else %>
                <img src="<%= url_for(@user.avi) %>" class="border border-dark rounded-circle my-3 me-3" style="height: 100px; width: 100px; aspect-ratio: 2/2">
            <% end %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-text" style="color: #222">
                    <%= @user.username.capitalize %>
                </h2>
                <p class="card-text">
                    contact: <%= @user.email %>
                </p>
                <div class="row d-inline-block">
                    <p>Following 0</p>
                    <p>Followers 0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 border-0">
    <% if @user == current_user %>
        <h2 class="card-header article_header">My Articles:</h2>
    <% else %>
        <p><%= @user.username.capitalize %>'s Articles:</p>
    <% end %>

    <% top_articles = Article.top_three(@user.articles) %>
    <% top_articles.each do |article| %>
        <div class="row my-2">
            <%= render( :partial => "articles/card", :locals => { :article => article } ) %>
        </div>
    <% end %>
</div>

<div class="card mb-3 border-0">
    <% if @user == current_user %>
        <h2 class="card-header article_header">My Favorites:</h2>
    <% else %>
        <p><%= @user.username.capitalize %>'s Favorites:</p>
    <% end %>
    
    <% top_favorites = Article.top_three(@user.favorites) %>
    <% top_favorites.each do |favorite| %>
        <div class="row my-2">
            <%= render( :partial => "articles/card", :locals => { :article => favorite } ) %>
        </div>
    <% end %>
</div>