<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    
    <div class="d-flex flex-row align-items-start p-0 mt-1">
        <%= image_tag "avatar-none.png", :class => "border border-dark rounded-circle me-auto", :style => "height: 60px; width: 60px; aspect-ratio: 2/2" %>
        
        <p class="col-10 d-flex flex-column">
            <% if comment.subject_id.nil? %>
                <%= form.text_area :body, :placeholder => 'Add a reply...' %>
            <% else %>
                <%= form.text_area :body, :value => "@#{comment.user.username if comment.user != nil}: " %>
            <% end %>
        </p>
    </div>

    <% if signed_in? %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <%= form.hidden_field :status, :value => 'public' %>

    <%= form.hidden_field :subject_id, :value => comment.id %>

    <p class="justify-content-end d-flex">
        <%= form.submit %>
    </p>
<% end %>