<div class="d-flex flex-row align-items-start p-0 my-1 position-relative">
    <%= link_to '', [comment.article, comment],
                        :class => "position-absolute top-0 end-0 btn btn-primary btn-sm btn-danger bi bi-trash",
                        :style => "font-size: 1rem; height: 28px; width: 27px; padding: 0;",
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        :data_bs_toggle =>"tooltip",
                        :data_bs_placement => "bottom",
                        :title => "Delete" %>

    <img src="" class="border border-dark rounded-circle my-0 me-3" style="height: 60px; width: 60px; aspect-ratio: 2/2">

    <div class="col-md-10 flex-column">
        <div class="h-25 d-flex flex-row mb-0 p-0">
            <div class="row me-3">
                <p class="card-text mb-0 w-auto mw-50 d-flex"><%= comment.commenter %></p>
                <p class="text-muted col-4 mb-0 w-auto mw-50"><%= comment.updated_at.pretty %></p>
            </div>
        </div>

        <p class="mb-0 text-black text-opacity-75">
            <%= comment.body %>
        </p>
        
        <div>
            <%= link_to ' ' + comment.likes.count.to_s, like_comment_url(:article_id => comment.article_id, :id => comment.id),
                        :class => "btn btn-sm bi bi-hand-thumbs-up",
                        :method => :put %>
            <%= link_to ' ' + comment.dislikes.count.to_s, dislike_comment_url(:article_id => comment.article_id, :id => comment.id),
                        :class => "btn btn-sm bi bi-hand-thumbs-down",
                        :method => :put %>
            <button class="btn btn-link btn-block text-left text-decoration-none collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#reply<%= comment.id %>" aria-expanded="false" aria-controls="reply<%= comment.id %>">Reply</button>
        </div>

        <div id="reply<%= comment.id %>" class="collapse" aria-labelledby="comment<%= comment.id %>" data-parent="#commentAccordion">
            <%= render "comments/replies/form", comment: comment %>
        </div>
    </div>
</div>