<!DOCTYPE html>
<html>
  <head>
    <title>The Blog-Spot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : 'The Blog-Spot' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'The Blog-Spot' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <p class="notice p-0 m-0"><%= notice %> </p>
    <p class="alert p-0 m-0"><%= alert %> </p>

    <main role='main'>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
